#root {
    background-color: black;
} 

.App {
    background-color: #242424;
    color: whitesmoke;
    text-align: center;

}

header {
    box-sizing: border-box;
    background-color: #171A1B;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header div {
        display: flex;
        justify-content: center;
        align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    margin-right: 20px;
    color: cyan;
}

.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu {
    background-color: #252525;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1;
}

.btn:hover {
    background-color: aqua !important;
    color: black !important;
    cursor: pointer !important;
}

footer {
    width: 100%;
    background-color: #171A1B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    text-align: center;
}